__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.dist-info/
*.log

venv/
.env/
.venv/
pip-log.txt
pip-delete-this-directory.txt

.vscode/
*.code-workspace

.DS_Store
Thumbs.db
.idea/
*.bak

logs/
*.log
*.out
*.pid
*.gz

poetry.lock
Pipfile
Pipfile.lock


.env
*.key
*.pem
config.json
secrets.json
db.sqlite3
